/*========================VARIABLES========================*/
/*=================GOOGLE FONTS================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/*============VARIABLES CSS*==================*/
:root {
    --header-height: 4rem;
    /*======COLORS=========*/
    /* Change favorite color to match images */
    /* Green dark 190 - Green 171 Green Blue 200*/
    --hue-color: 190;
    /*    HSL color mode*/
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 22%);
    --text-light: hsl(var(--hue-color), 8%, 60%);
    --imput-color: hsl(var(--hue-color), 24%, 37%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /*==========FONT AND TYPOGRAPHY==========*/
    --body-font: 'Raleway', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Margin Bottom*/
    --mb-0-25: .025rem;
    --mb-0-5: .05rem;
    --mb-0-75: .075rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*Z index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /*Hover overlay */
    --img-transition: 0.3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);


}

/*=================SCROLLBAR CSS================*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .0875rem;
        --smaller-font-size: .813rem;
    }
}

/*BASE*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    color : var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img,
video{
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.flex-c-s{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}
.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-start{
    justify-content: start;
}

.justify-space-between{
    justify-content: space-between;
}




.mt-1{
    margin-top: var(--mb-1);
}
.mb-1{
    margin-bottom: var(--mb-1);
}
.mt-0-5{
    margin-top: .5rem;
}
button,
input{
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button{ cursor: pointer}

input{outline: none}

.main{
    overflow-x: hidden; // for animation gsap
}

/*=================VARIABLE DARK THEME================*/
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 54%, 12%);
    --title-color: hsl(var(--hue-color), 24%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --imput-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}
/*==================DAKAR/LIGHT========================*/
.nav__dark{
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    left: 3rem;
    bottom: 4rem;
}
.change-theme,
.change-theme-name{
    color: var(--text-color);
}

.change-theme{
    cursor: pointer;
}

.change-theme-name{
    font-size: var(--smaller-font-size);
}
/*END REUSABLE CSS CLASSES*/
